.panel {
  $background-color: #e503d5;
  max-width: 430px;
  margin: 0 auto;

  .title-wrapper {
    position: relative;
    background-color: $background-color;
    z-index: 1;

    .title-shape {
      position: absolute;
      left: -10px;
      top: 10px;
      width: 10px;
      height: 26px;
      background-color: $background-color;

      &::before {
        content: "";
        font-size: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid $background-color;
        position: absolute;
        top: -10px;
        width: 0;
        height: 0;
      }

      &::after {
        position: absolute;
        top: 26px;
        content: "";
        font-size: 0;
        border-left: 10px solid $background-color;
        border-bottom: 10px solid transparent;
        width: 0;
        height: 0;
      }
    }
  }
  .title-container {
    height: 37px;
    color: #fff;
    margin: 0;
    > * {
      margin: 0;
    }
  }

  .contents {
    z-index: 0;
    border: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    margin-left: -10px;
    position: relative;
    &::before {
      content: "";
      font-size: 0;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #fff;
      position: absolute;
      top: -1px;
      width: 0;
      height: 0;
    }

    .bottom-border {
      width: calc(100% - 10px);
      border-bottom: 1px solid #fff;
      &::after {
        content: "";
        font-size: 0;
        border-right: 1px solid #fff;
        position: absolute;
        bottom: -2px;
        right: 5px;
        width: 0;
        height: 14px;
        transform: rotateZ(42deg);
      }
    }

    .right-border {
      position: absolute;
      right: 0;
      top: 0;
      height: calc(100% - 10px);
      border-right: 1px solid #fff;
    }
  }
}
