.signup-form {
  input,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }

  input[type="submit"] {
    font-family: "Jura", sans-serif;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #5bffd2;
    padding: 5px 20px;
    margin: 10px 10px 10px 28px;
    font-size: 14px;
    display: inline;
    cursor: pointer;

    &:hover {
      position: relative;
      top: -1px;
    }
  }

  input[type="email"] {
    font-family: "Jura", sans-serif;
    color: #fff;
    border: 1px solid #5bffd2;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin: 10px 0 10px 28px;
    font-size: 14px;
    width: 50%;
    &::placeholder {
      color: #fff;
    }
    display: inline;
  }
}
