$desktop-width: 1024px;

@mixin not-desktop {
  @media (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

.page-about {
  section {
    max-width: 1024px;
    margin: 0 auto;
  }
  .panel {
    max-width: initial;
    margin: 10px 5px 0px 10px;
  }
  img {
    width: 100%;
  }
  section {
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    @include desktop {
      grid-template-columns: 1fr 2fr;
    }
  }
}
