$desktop-width: 1024px;

@mixin not-desktop {
  @media (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

.page-index {
  .panel-wrapper {
    margin: 0 5px 0 15px;
  }

  .panel {
    @include not-desktop {
      h1 {
        font-size: 24px;
        vertical-align: middle;
        position: relative;
        top: 4px;
      }
    }

    @include desktop {
      max-width: 540px;
    }
  }
  p {
    padding: 0 0 0 5px;
    border-left: solid 13px #5bffd2;

    span {
      color: #fff;
      margin: 1px 0 0 0;
      padding: 3px 8px;
      background-color: rgba(0, 0, 0, 0.4);
      display: inline-block;
    }
  }
}
