$desktop-width: 1024px;

@mixin not-desktop {
  @media (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

.page-sponsors {
  .page-content {
    max-width: 1024px;
    margin: 0 auto;
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1 {
    margin: 200px 0 0 10px;
    padding: 0 0 0 5px;
    border-left: solid 13px #5bffd2;

    color: #fff;
    padding: 3px 8px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
  }

  .panel h2 {
    position: relative;
    top: 4px;
  }

  .panel {
    margin: 10px 5px 0px 10px;
    @include desktop {
      float: left;
      max-width: initial;
      width: 30%;
    }
    @include not-desktop {
      margin: 10px auto;
    }
  }
}
