@import url("https://fonts.googleapis.com/css?family=Jura");

$desktop-width: 1024px;

body {
  font-family: "Jura", sans-serif;
  margin: 0;
}

.template-wrapper {
  padding: 0.1px;
  min-height: 100vh;
  background-image: radial-gradient(circle at 50% 800px, #00a69c, #262261);

  .image-wrapper,
  .image-wrapper .imagery {
    position: absolute;
    width: 100%;
  }
  .main-nav {
    margin-top: 33.2vw;
  }
  .layout-page-content,
  .layout-page-sponsors {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin not-desktop {
    @media (max-width: $desktop-width - 1px) {
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: $desktop-width) {
      @content;
    }
  }

  .layout-page-content {
    section {
      @include desktop {
        width: 1024px;
      }
      @include not-desktop {
        width: 90%;
      }
      margin: 0 auto 20px auto;
    }
    img {
      width: 100%;
    }
    section.col-2 {
      display: grid;
      grid-gap: 20px;
      @include desktop {
        grid-template-columns: 502px 502px;
      }
    }
    section.col-1 {
      display: grid;
      grid-gap: 20px;
      @include desktop {
        /* grid-template-columns: 1fr 2fr; */
        /* grid-template-columns: 502px 502px; */
      }
    }
  }

  .layout-page-sponsors {
    section {
      @include desktop {
        width: 1024px;
      }
      @include not-desktop {
        width: 90%;
      }
      margin: 0 auto;
    }
    section.col-4 {
      display: grid;
      @include desktop {
        grid-gap: 12px;
        grid-template-columns: 247px 247px 247px 247px;
      }
      @include not-desktop {
        grid-gap: 4%;
        grid-template-columns: 48% 48%;

      }
    }
    .sponsor {
      background-color: #fff;
      width: 100%;
      height: 120px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 90%;
      margin-bottom: 12px;
    }
    .mozilla {
      background-image: url(../graphics/sponsor_mozilla.svg);
    }
    .sparebank1 {
      background-image: url(../graphics/sponsor_sparebank1.svg);
    }
    .systek {
      background-image: url(../graphics/sponsor_systek.svg);
    }
    .acando {
      background-image: url(../graphics/sponsor_acando.svg);
    }
    .webstep {
      background-image: url(../graphics/sponsor_webstep.png);
    }
    .finn {
      background-image: url(../graphics/sponsor_finn.png);
    }
    .microsoft {
      background-image: url(../graphics/sponsor_microsoft.png);
    }
    .vivaldi {
      background-image: url(../graphics/sponsor_vivaldi.png);
    }
    .knowit {
      background-image: url(../graphics/knowit.png);
    }
  }


}
