@import url("https://fonts.googleapis.com/css?family=Jura");

body {
  font-family: "Jura", sans-serif;
  margin: 0;
}

.template-wrapper {
  padding: 0.1px;
  min-height: 100vh;
  background-image: radial-gradient(circle at 50% 800px, #00a69c, #262261);

  .image-wrapper,
  .image-wrapper .imagery {
    position: absolute;
    width: 100%;
  }
}
